.container {
  background-color: var(--color-bg-secondary);
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.imageContainer {
}

.description {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
