.container {
  background-color: var(--color-bg-primary);
  border-radius: 8px;
  display: block;
}

.small {
  padding: 3px 8px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.medium {
  padding: 8px 14px;
  margin-bottom: 12px;
  margin-right: 12px;
}

.big {
  padding: 8px 14px;
  margin-bottom: 25px;
  margin-right: 25px;
}
