.container {
  /* background-color: #e1567c; */
  background-color: var(--color-bg-secondary);
  color: white;
  border-radius: 6px;
}

.small {
  padding: 6px 10px;
  margin-right: 8px;
  font-size: 0.8rem;
}

.medium {
  padding: 8px 14px;
  margin-right: 20px;
  font-size: 1.2rem;
}

.big {
  padding: 8px 14px;
  margin-right: 25px;
  font-size: 1.6rem;
}
