.footer {
  padding: 2rem 1.5rem;
  background-color: black;
}

.nav {
  height: 60px;
  padding: 0 1.5rem;
}

.navList {
  display: flex;
  align-items: center;
  height: 100%;
}

.item {
  margin-right: 1.5rem;
  color: white;
}
