/*
 * Variables
 *    
*/
:root {
  /* Colors */
  --color-white: #fff;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #d3d3d3;
  --color-gray-400: #bebebe;
  --color-gray-500: #808080;
  --color-gray-600: #606060;
  --color-gray-700: #383838;
  --color-gray-800: #968484;
  --color-gray-900: #101010;
  --color-black: #000;

  /* --color-text: hsl(0deg, 0%, 100%);
    --color-background: hsl(210deg, 30%, 8%);
    --color-blurred-background: hsla(210deg, 30%, 8%, 0.85);
    --color-primary: hsl(230deg, 100%, 67%);
    --color-secondary: hsl(333deg, 100%, 52%);
    --color-tertiary: hsl(53deg, 100%, 50%);
    --color-decorative: hsl(200deg, 50%, 60%);
    --color-muted: hsl(210deg, 38%, 15%);
    --color-muted-background: hsla(210deg, 38%, 15%, 0.85);
    --color-info: hsl(230deg, 100%, 67%);
    --color-success: hsl(160deg, 100%, 40%);
    --color-success-background: hsla(160deg, 100%, 40%, 0.1);
    --color-error: hsl(340deg, 95%, 60%);
    --color-error-background: hsla(340deg, 95%, 43%, 0.1);
    --color-alert: hsl(30deg, 100%, 50%);
    --color-alert-background: hsla(38deg, 100%, 50%, 0.1);
    --color-venn-0: hsl(250deg, 100%, 50%);
    --color-venn-1: hsl(175deg, 100%, 50%);
  
    --color-subtle-background: hsl(210deg, 30%, 8%);
    --color-subtle-floating: hsl(210deg, 22%, 15%);
    --color-homepage-light: hsla(200deg, 100%, 85%, 0);
    --color-homepage-dark: hsla(200deg, 100%, 85%, 0.1);
    --color-homepage-bg: hsl(210deg, 30%, 8%);

  /* MDX */
  --syntax-bg: hsl(210deg, 30%, 12%);
  --syntax-highlight: hsl(210deg, 30%, 18%);
  --syntax-txt: #fff;
  --syntax-comment: #6c8998;
  --syntax-prop: #ff39a8;
  --syntax-bool: #ffd600;
  --syntax-val: #61747d;
  --syntax-str: rgb(155, 109, 255);
  --syntax-name: #c653ff;
  --syntax-del: #ff5555;
  --syntax-regex: #ffd700;
  --syntax-fn: rgb(0, 190, 255);
}
/*
 * End of variables
 *    
*/

/*
 * Themes
 *
*/
body[data-theme="light"] {
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: var(--color-gray-100);
  --color-bg-tertiary: var(--color-gray-300);
  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-gray-600);
  --color-text-hover: var(--color-black);
}

body[data-theme="dark"] {
  --color-bg-primary: var(--color-gray-900);
  --color-bg-secondary: var(--color-gray-800);
  --color-bg-tertiary: var(--color-gray-400);
  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-gray-400);
  --color-text-hover: var(--color-white);
}
/*
 * End of themes
 *
*/

:root {
  --hover-brightness: 1.2;
}

a:active {
  /* Darken on click */
  filter: brightness(var(--hover-brightness));
}

img {
  max-width: 100%;
  display: block;
}
