.headingXl {
  color: var(--color-text-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  margin-bottom: 0.6rem;
  transition: all 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.headingLg {
  color: var(--color-text-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  margin-bottom: 0.3rem;
  transition: all 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.headingBig {
  color: var(--color-text-primary);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  transition: all 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.headingMd {
  color: var(--color-text-primary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  transition: all 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.headingSm {
  color: var(--color-text-primary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  transition: all 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.sectionHeading {
  color: var(--color-text-secondary);
  font-size: var(--cfont-size-big);
  font-weight: var(--font-weight-medium);
  letter-spacing: 1.8px;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.textBig {
  color: var(--color-text-secondary);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-light);
}

.textMd {
  color: var(--color-text-secondary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
}

.textSm {
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

.colorInherit {
  color: inherit;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.icon {
  cursor: pointer;
}

.marginVerticalXl {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  .headingXl {
    font-size: var(--font-size-extra-large);
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}
