.colorInherit {
  color: inherit;
}

.listItem {
  margin: 0 0 1.25rem;
}

.icon {
  cursor: pointer;
}

.marginVerticalXl {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.marginBottomSm {
  margin-bottom: 0.6rem;
}

.marginTopMd {
  margin-top: 1.5rem;
}

.containerRound {
  border-radius: 8px;
}

.containerCircle {
  border-radius: 50%;
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  .headingXl {
    font-size: var(--font-size-extra-large);
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}
